# Ignore rules from client/.gitignore
# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# Ignore rules from server/.gitignore
# dependencies
/server/node_modules
/server/.pnp
/server/.pnp.js

# secured files
/server/.env

# Log files
/server/*.log

# System files
/server/.DS_Store
/server/Thumbs.db

# Build output
/server/dist/
/server/build/

# Temporary files
/server/*.tmp
/server/*.swp
